<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

<title>Payeg</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="icon" href="logo.png" type="image/png" />

<!-- Bootstrap core CSS -->

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"/>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Rokkitt"
	rel="stylesheet"/>
<style type="text/css">
body {
	background: #F3904F; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F3904F, #3B4371);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F3904F, #3B4371);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-family: "Rokkitt";
}

div {
	text-align: center
}
</style>
</head>

<body>
	<div>
		<img src="logo.png" style="background:white"/>
	
		<h1>Make your payment easy</h1>

		<marquee>
			<h1 style="color: red">U N D E R M A I N T E I N A N C E</h1>
		</marquee>

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div style="border: 1px dotted;"> <h3> No of hit : <span th:text="${value}">5</span></h3></div>
		<br/>
		<br/>
		<br/>
		<p>© 2017 by sitakant</p>
	</div>


</body>
</html>